<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /

  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

  RewriteRule "^api/.*$" "api/api.php" [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>
